.flap {
  $height: 12px;
  height: $height;
  display: flex;

  &--invert {
    transform: rotate(180deg);
  }

  &__content {
    height: 100%;
    flex: 1;
    border-top: 1px solid black;
  }

  &__triangle {
    height: 100%;
    width: $height;
    overflow: hidden;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      width: 200%;
      height: 1px;
      background-color: black;
    }

    &--left {
      &::after {
        left: 0;
        transform: rotate(-45deg);
        transform-origin: left;
      }
    }

    &--right {
      &::after {
        right: 0;
        transform: rotate(45deg);
        transform-origin: right;
      }
    }
  }

  &--vertical {
    flex-direction: column;
    height: 100%;

    .flap {
      &__content {
        height: auto;
        width: 100%;
        flex: 1;
        border-left: 1px solid black;
        border-top: none;
      }
      &__triangle {
        height: $height;
        width: 12px;
        &:after {
          bottom: 0;
        }
      }
    }
  }
}
