.spine {
  &__strip {
    display: flex;
    flex-direction: column;
    color: white;
    overflow: hidden;
  }

  &__content {
    height: 306px * 2;
    display: flex;
    flex-direction: column;
  }

  &__logo {
    flex-basis: 26px * 2;
    background-color: #ed1b24;
    padding: 5px;
    display: flex;
    align-items: center;
  }

  &__logo-img {
    width: 100%;
  }

  &__title {
    flex: 1;
    display: flex;
    align-items: center;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    padding: 20px 5px;
    font-size: 14px;
    background-color: black;
  }

  &__subtitle {
    color: #ed1b24;
  }

  &__heroe {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px * 2;
  }

  &__heroe-img {
    height: 100%;
  }

  &__vol {
    flex-basis: 26px * 2;
    background-color: #ed1b24;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
  }
}
